<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Add Product</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>ATN Shop</strong>
          </a>
        </div>
    </div>
    <h2 class="mt-5 mb-5 text-center text-success"> Add Product </h2>
    <div class="col-md-6 offset-md-3">
        <form action="/insert" method="post">
            <div class="form-group">
                <label class="form-label" for="txtName"> Product Name</label>
                <input type="text" class="form-control" name="txtName" id="txtName">
            </div>
            <div class="form-group">
                <label class="form-label" for="txtPrice"> Price</label>
                <input type="text" class="form-control" name="txtPrice" id="txtPrice">
            </div>
            <div class="form-group">
                <label class="form-label" for="txtURL"> Picture URL</label>
                <input type="text" class="form-control" name="txtURL" id="txtURL">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Insert">
        </form>
    </div>
</body>
</html>